<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React Interview Questions</title>
    <link rel="stylesheet" href="./scripts/_template/index.css" />
  </head>
  <body class="flex flex-col min-h-screen">
  <header class="bg-gray-600 text-white p-4">
    <nav class="container mx-auto"></nav>
      <a href="https://sujeet.pro" class="text-lg font-semibold">Sujeet's Portfolio</a>
    </nav>
  </header>
  <main class="container mx-auto my-8 flex-grow">
    <ul class="space-y-4">
      <% apps.forEach(function(app) { %>
        <li><a href="<%= app.href %>" class="text-blue-500 hover:underline"><%= app.name %></a></li>
      <% }); %>
    </ul>
  </main>
  <footer class="bg-gray-800 text-white p-4 mt-8">
    <p class="text-center">&copy; <script>document.write(new Date().getFullYear());</script> Sujeet</p>
  </footer>
  </body>
</html>
