.barChart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  border: 2px solid #333;
  height: 400px;
}

.bar {
  width: 100%;
}

.sortSelector {
  padding: 0.25rem 1rem;
  margin: 1rem;
}

.legendColor {
  display: inline-block;
  width: 20px;
  height: 20px;
}
